<div class="title"><h2>Add your post</h2></div>
<form action="/post/add" method="POST" enctype="multipart/form-data">  
    <input class="form-control form-control-lg" type="text" placeholder="Post" name="text" required>

    {{!-- <input type="file" name="file" id="file"/> --}}
    <input type="file" multiple="multiple" name="files" accept=".jpg,.png,.mp4,.webm">
    <p>
        <button type="submit" class="btn btn-dark">Add</button> 
    </p>
      
</form>