<div class="index">
    <h1 class="welcome">Welcome to the Blog</h1>
    <label>
        {{#if user}}
        <span><a href="/posts" class="btn btn-dark">Posts</a></span>
        <span><a href="/add" class="btn btn-dark">Add</a></span>       
        {{else}}  
        <span><a href="/auth/signup" class="btn btn-secondary">Register</a></span>
        <span><a href="/auth/signin" class="btn btn-secondary">Login</a></span>
        {{/if}}       
    </label>
</div>
     
